@import "./reset.css";
body {
    width: 100%;
    background: url("../image/background.png") no-repeat center center;
    background-size: cover;
    height: 100vh;


}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.header {

    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;

}

.header:hover {
    background: #000000;
    mix-blend-mode: normal;

    opacity: 0.41;

}

.logo {
    display: flex;
    height: 58px;
    padding-left: 79px;
    align-items: center;
}

.logo-link {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

.logo-link:hover {
    color: #01813F;

}
.icons-list {
    display: flex;
}

.icons-item {
    padding-right: 25px;

}


.icon:hover {
    stroke: #01813F;
    fill: #01813F;

}

.logo-start {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-right: 79px;
}

.logo-start::before {
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    margin-right: 27px;
}

.logo-start-link {
    font-family: 'Ubuntu';
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.logo-start-link:hover {
    color: #01813F;
}


.form {

    text-align: center;
    margin: 0 auto;
    max-width: 444px;
    background: #FFFFFF;
}

.form-sign {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 31px 60px 15px 60px;
}

.sign-description {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.sign-description::before {
    content: '';
    width: 0;
    display: block;
    height: 0;
    border: 9px solid #3CB878;
    position: absolute;
    left: 0;
}

.sign-link {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: #3CB878;
}

.sign-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.bottom-link {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    position: relative;
}



.bottom-facebook {
    padding: 16px 20px 16px 66px;
    background: #305DB8;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    border-radius: 5px;
}

.bottom-facebook:hover {
    background: #022263;
}

.icon-facebook::after {
    content: '';
    border-left: 1px solid white;
    padding-left: 40px;
}

.bottom-google {
    padding: 17px 27px 17px 80px;
    background-color: #DF4A32;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    border-radius: 5px;

}

.bottom-google:hover {
    background: #AB1F09;
}

.icon-facebook {
    width: 12.46px;
    height: 24px;
    position: absolute;
    left: 76.77px;
    right: 24.04px;
    top: 15px;
}

.icon-google {
    position: absolute;
    width: 30px;
    height: 19px;
    right: 178px;
}

.or {
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 31px;
    color: #848484;
    margin-bottom: 12px;
}
.or-block {
    position: relative;
}
.or::before  {

    content: "";
    display: inline-block;
    border: 1px solid #F2F2F2;
    position: absolute;
    width: 34%;
    left: 60px;
    top: 8px;

}

.or::after  {

    content: "";
    display: inline-block;
    border: 1px solid #F2F2F2;
    position: absolute;
    width: 34%;
    right: 60px;
    top: 8px;

}

.input {
    box-sizing: border-box;
    margin-top: 16px;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;


}
.input:focus {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    outline:none;



}

.label-checkbox {
    text-align: left;
    margin: 15px 0 23.5px 60px;
    display: flex;
    align-items: center;
}

.checkbox {
    display: none;
}

.fake-checkbox {
    display: inline-block;
    width: 14px;
    height: 13.5px;
    border: 1px solid #F2F2F2;
    position: relative;

}

.fake-checkbox::before{
    content: '\2714';
    position: absolute;
    display: block;
    color: #3CB878;
    opacity: 0;
}

.checkbox:checked + .fake-checkbox::before {
    opacity: 1;
}

.checkbox-text {
    margin-left: 11px;
}

.button {
    width: 324px;
    height: 46px;
        text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 38px;
    border-radius: 5px;

    border: none;
    background-color: #3CB878CC;


    color: #FFFFFF;
}

.button:hover {
    background: #01813F;

}

.button:active {
    box-shadow: inset -2px -2px 3px , inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
